<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LoraNodeMapper">

    <resultMap type="LoraNode" id="LoraNodeResult">
        <result property="terminalId"    column="terminal_id"    />
        <result property="terminalEui"    column="terminal_eui"    />
        <result property="activeState"    column="active_state"    />
        <result property="runState"    column="run_state"    />
        <result property="battery"    column="battery"    />
        <result property="lastMsgDt"    column="last_msg_dt"    />
        <result property="gatewayEui"    column="gateway_eui"    />
        <result property="appEui"    column="app_eui"    />
        <result property="appName"    column="app_name"    />
    </resultMap>

    <sql id="selectLoraNodeVo">
        select terminal_id, terminal_eui, active_state, run_state, battery, last_msg_dt, gateway_eui, app_eui, app_name from lora_node
    </sql>


    <select id="selectLoraNodeList" parameterType="LoraNode" resultMap="LoraNodeResult">
        <include refid="selectLoraNodeVo"/>
        <where>
            <if test="terminalEui != null  and terminalEui != ''"> and terminal_eui like concat('%', #{terminalEui}, '%')</if>
            <if test="activeState != null "> and active_state = #{activeState}</if>
            <if test="runState != null  and runState != ''"> and run_state = #{runState}</if>
            <if test="battery != null "> and battery = #{battery}</if>
            <if test="lastMsgDt != null "> and last_msg_dt = #{lastMsgDt}</if>
            <if test="gatewayEui != null  and gatewayEui != ''"> and gateway_eui like concat('%',#{gatewayEui}, '%')</if>
            <if test="appEui != null  and appEui != ''"> and app_eui like concat('%', #{appEui}, '%') </if>
            <if test="appName != null  and appName != ''"> and app_name like concat('%', #{appName}, '%') </if>

        </where>
    </select>

    <select id="selectLoraNodeByTerminalId" parameterType="Long" resultMap="LoraNodeResult">
        <include refid="selectLoraNodeVo"/>
        where terminal_id = #{terminalId}
    </select>


    <insert id="insertLoraNode" parameterType="LoraNode" useGeneratedKeys="true" keyProperty="terminalId">
        insert into lora_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="terminalEui != null">terminal_eui,</if>
            <if test="activeState != null">active_state,</if>
            <if test="runState != null">run_state,</if>
            <if test="battery != null">battery,</if>
            <if test="lastMsgDt != null">last_msg_dt,</if>
            <if test="gatewayEui != null">gateway_eui,</if>
            <if test="appEui != null">app_eui,</if>
            <if test="appName != null">app_name,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="terminalEui != null">#{terminalEui},</if>
            <if test="activeState != null">#{activeState},</if>
            <if test="runState != null">#{runState},</if>
            <if test="battery != null">#{battery},</if>
            <if test="lastMsgDt != null">#{lastMsgDt},</if>
            <if test="gatewayEui != null">#{gatewayEui},</if>
            <if test="appEui != null">#{appEui},</if>
            <if test="appName != null">#{appName},</if>

        </trim>
    </insert>

    <update id="updateLoraNode" parameterType="LoraNode">
        update lora_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="terminalEui != null">terminal_eui = #{terminalEui},</if>
            <if test="activeState != null">active_state = #{activeState},</if>
            <if test="runState != null">run_state = #{runState},</if>
            <if test="battery != null">battery = #{battery},</if>
            <if test="lastMsgDt != null">last_msg_dt = #{lastMsgDt},</if>
            <if test="gatewayEui != null">gateway_eui = #{gatewayEui},</if>
            <if test="appEui != null">app_eui = #{appEui},</if>
            <if test="appName != null">app_name = #{appName},</if>

        </trim>
        where terminal_id = #{terminalId}
    </update>

    <delete id="deleteLoraNodeByTerminalId" parameterType="Long">
        delete from lora_node where terminal_id = #{terminalId}
    </delete>



    <delete id="deleteLoraNodeByTerminalIds" parameterType="String">
        delete from lora_node where terminal_id in
        <foreach item="terminalId" collection="array" open="(" separator="," close=")">
            #{terminalId}
        </foreach>
    </delete>

    <select id="selectLoraNodeListByIds" parameterType="Long">
        select from lora_node where terminal_id in
                              <foreach item="terminalId" collection="array" open="(" separator="," close=")">
                              </foreach>
    </select>

    <update id="setStateT3LoraNode" parameterType="Long">
        update lora_node set run_state = '3' where terminal_id = #{terminalId}
    </update>



    <update id="updateLastMsgTime" parameterType="String">
        update lora_node set last_msg_dt = now() where terminal_eui = #{terminalEui}
    </update>

    <update id="loginTerminal" parameterType="String">
        update lora_node set active_state = '1' and run_state = '0' where terminal_eui = #{terminalEui}
    </update>

    <delete id="logoutTerminal" parameterType="String">
        update lora_node set run_state = '1' where terminal_eui = #{terminalEui}
    </delete>

    <select id="selectNodeByEui" parameterType="String" resultMap="LoraNodeResult">
        select * from lora_node where terminal_eui = #{terminalEui}
    </select>

    <update id="updateAppNameByEui" parameterType="LoraNode">
        update lora_node set app_name = #{appName} where app_eui = #{appEui}
    </update>

</mapper>